<cp-header></cp-header>

<cp-container>
  
  <cp-section>
    <cp-large-heading>
      VOTE
    </cp-large-heading>
  </cp-section>

  <cp-selection-round
    [matches]="store.matches$ | async"
    (on-selection)="updateSelections($event)">
  </cp-selection-round>

  <cp-section centered="true">

    <cp-button 
      [disabled]="selections.length !== (store.matches$ | async).length" 
      type="secondary" 
      (click)="vote()">
      VOTE
    </cp-button>
  
  </cp-section>
  

</cp-container>

<cp-section>
  <cp-footer></cp-footer>
</cp-section>
