<cp-header></cp-header>

<cp-container>
  
  <cp-section>
    <cp-large-heading>
      ROUND ONE
    </cp-large-heading>
  </cp-section>

  <cp-section centered="true">

    <div id="selections">

      <cp-selection-list
        (on-selection)="getVote($event)"
        [match]="match$ | async">
      </cp-selection-list>

    </div>

  </cp-section>

  <cp-section centered="true">
    <cp-button type="secondary" (click)="vote($event)">
      VOTE
    </cp-button>
  </cp-section>

</cp-container>

<cp-section>
  <cp-footer></cp-footer>
</cp-section>
