<cp-header></cp-header>
<div class="container mx-auto px-8">

  <cp-section>
    <cp-large-heading>CODE PLAYOFFS</cp-large-heading>
  </cp-section>

  <cp-section>
    <img class="w-full" src="/assets/full-bracket@2x.png" alt="" />
  </cp-section>

  <cp-section>

    <cp-button 
      (click)="loginUser()" 
      type="login"
      [img-src]="'/assets/twitter-logo.svg'">
      LOGIN TO PLAY
    </cp-button>

    <!-- <button class="bg-blue-light w-full h-14 flex items-center px-8">
      <img class="-mb-px" src="/assets/twitter-logo.svg" />
      <span class="text-white px-4 text-xl">LOGIN TO PLAY</span>
    </button> -->

  </cp-section>

</div>

<div class="pt-22">

  <div class="h-24 w-full bg-black flex items-center justify-around">
    <h4 class="text-white text-2xl w-40">
      made with the power of
    </h4>
    <img src="/assets/firebase-cutout.svg" />
  </div>

</div>